@use '../../../../../../../scss/extends' as *;
@use '../../../../../../../scss/vars' as *;
@use '../../../../../../../scss/styles' as *;

.right_inf {
    width: 100%;

    .title_set {
        font-weight: $fbw;
        margin-bottom: $low;
        text-decoration: none;

        @media (max-width: 520px) {
            margin-bottom: $micro;
        }
    }

    .title_ch_gs {
        margin: 0;

        @media (max-width: 520px) {
            margin-bottom: 37px;
        }
    }

    .middle {
        @extend %flex;
        gap: $vmiddle;

        .price_block {
            margin-left: auto;
        }
    }
}