@use '../../../../scss/vars' as *;
@use '../../../../scss/extends' as *;

.head_block {
    display: grid;
    grid-template-columns: repeat(1, minmax($oh, 502px) minmax($oh, $bl-inf));
    gap: $mbtitle;
}

.pic_desktop {
    max-width: 502px;
    max-height: 439px;
}

.pic_mobile {
    max-width: 400px;
}

.right_block {
    align-self: end;
    margin-top: $e-six;

    @media (max-width: 840px) {
        margin-top: $f-th;
    }
}

.sec {
    margin: 48px 0 64px 0;

    @media (max-width: 400px) {
        margin: 45px 0 $so 0;
    }
}