@use '../../../../../scss/extends' as *;
@use '../../../../../scss/vars' as *;
@use '../../../../../scss/mixins' as *;
@use '../../../../../scss/styles' as *;

.navigation {

    .nav_links {
        display: grid;
        grid-template-columns: repeat(2, minmax($oh, 570px));
        grid-template-rows: repeat(3, minmax($oh, 260px));
        justify-content: center;
        column-gap: $big;
        row-gap: 25px;
        margin-top: 47px;

        @media (max-width: 992px) {
            gap: $min;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, minmax($oh, 480px));
            grid-template-rows: repeat(6, minmax($oh, 260px));
        }

        @media (max-width: 370px) {
            display: block;
            margin-top: $ten;
        }
    }
}