@use '../../../../../../../../scss/vars' as *;
@use '../../../../../../../../scss/extends' as *;

.custom-select {

    &__control {
        border-radius: 0 !important;
        border: 1px solid $border-card !important;
        min-height: auto !important;
        height: auto !important;
        max-height: 50px !important;
        box-shadow: none !important;
        cursor: pointer !important;

        &:hover {
            border-color: $border-card !important;
        }

        &--is-focused {
            border-color: $border-card !important;
        }
    }

    &__select-menu {
        border-color: $border-card !important;
    }

    &__option {
        cursor: pointer !important;
        background-color: $wh !important;
        color: $black !important;

        &--is-focused {
            background-color: $border-card !important;
        }
    }

    &__value-container {
        padding: $normal $min $mini $min !important;

        @media (max-width: 520px) {
            padding: $ver-mini !important;
            font-size: $mini !important;
        }
    }

    &__indicator {
        padding: 0 !important;

        svg {
            display: none !important;
        }

        &::before {
            content: '';
            display: block;
            width: $low;
            height: $micro;
            background-image:  url('http://localhost:3000/img/arrow-down.svg');
            background-size: $low $micro;
            background-repeat: no-repeat;
            padding-right: $tr;
        }
    }
    
    &__indicator-separator {
        display: none !important;
    }
}