@use '../../../../scss/extends' as *;
@use '../../../../scss/vars' as *;
@use '../../../../scss/mixins' as *;
@use '../../../../scss/styles' as *;

.link_product {
    text-decoration: none;
    color: $gr;
    display: flex;
    justify-content: center;
    @extend %max;
    display: block;
}

.block_set {
    max-width: 370px;
    border: 1px solid $border-card;
    border-radius: $micro;
    box-sizing: border-box;
    display: grid;
    height: 100%;
    overflow: hidden;

    .pic {
        max-width: 370px;
        height: 300px;
        position: relative;
        overflow: hidden;

        @media (max-width: 636px) {
            height: 226px;
        }

        @media (max-width: 514px) {
            height: 188px;
        }

        @media (max-width: 470px) {
            margin: $b-low $low 0 $low;
        }
    
        @media (max-width: 436px) {
            height: 220px;
        }

        @media (max-width: 272px) {
            height: 178px;
        }


        .img {
            @extend %max;
            object-fit: cover;
        }
    }
    
    .main_inf {
        padding: 21px;
        padding-bottom: 37px;

        @media (max-width: 636px) {
            padding-bottom: $vmiddle;
        }

        @media (max-width: 470px) {
            padding: $ver-mini $over-mini $low $over-mini;
        }
        
        .name {
            margin-bottom: $mini;
        }
    
        .text {
            color: #292929;
        }
    }
}

.product_inf {
    @extend %flex;
    border-top: 1px solid $border-card;

    .price {
        color: $red;

        @media (max-width: 470px) {
            font-size: $mnormal;
        }
    }

    .pr_bl {
        margin: 0 21px;
        flex-shrink: 0;
        
        @media (max-width: 470px) {
            margin: $low $over-mini $ver-mini $over-mini;
        }
    }

    .to_cart {
        flex-shrink: 0;
        @extend %flex;
        margin-left: auto;
        gap: 11.71px;
        padding: $tr 25px $middle 23px;
        border-left: 1px solid $border-card;
        cursor: pointer;

        @media (max-width: 470px) {
            padding: $b-low $min $ver-mini $min;
        }

        &:hover {
            background-color: $wheate
        }

        .btn_to_cart {
            @extend %btn-reset;
            cursor: pointer;
            font-weight: $fbw;

            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}