@use '../../../../scss/vars' as *;

.sec-company-swiper {
    .swiper {
        .swiper-pagination {
            justify-content: center;
            margin-top: $v-big;

            @media (max-width: 500px) {
                margin-top: $over;
            }

            @media (max-width: 400px) {
                margin-top: $vmiddle;
            }
        }
    }
}