@use '../../../../../scss/vars' as *;

.form {
    display: grid;
    grid-template-columns: repeat(1, minmax($so, $card));

    @media (max-width: 768px) {
        padding: $big;
    }

    @media (max-width: 400px) {
        padding: $vmiddle;
    }

    .title {
        margin-bottom: $min;
    }

    .text {
        text-align: center;
        margin-bottom: $big;
    }

    .btn {
        width: 100%;
        margin-top: $min;
    }
}