@use '../../../../../scss/vars' as *;

.icon_password {
    width: $vmiddle;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;

    @media (max-width: 600px) {
        width: $normal;
    }
}