/* Proxima Nova Thin (100) */
@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../fonts/ProximaNovaT-Thin.woff2');
	src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
		url('../fonts/ProximaNovaT-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../fonts/ProximaNova-ThinIt.woff2');
	src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
		url('../fonts/ProximaNova-ThinIt.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}
 
/* Proxima Nova Light (300) */
@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNova-Light.woff2');
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
		url('../fonts/ProximaNova-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNova-LightIt.woff2');
	src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
		url('../fonts/ProximaNova-LightIt.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}
 
/* Proxima Nova Regular (400) */
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Regular.woff2');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/ProximaNova-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-RegularIt.woff2');
	src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
		url('../fonts/ProximaNova-RegularIt.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}
 
/* Proxima Nova Semibold (600) */
@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNova-Semibold.woff2');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNova-SemiboldIt.woff2');
	src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
		url('../fonts/ProximaNova-SemiboldIt.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}
 
/* Proxima Nova Bold (700) */
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Bold.woff2');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../fonts/ProximaNova-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-BoldIt.woff2');
	src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
		url('../fonts/ProximaNova-BoldIt.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}
 
/* Proxima Nova Extrabld (800) */
@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../fonts/ProximaNova-Extrabld.woff2');
	src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
		url('../fonts/ProximaNova-Extrabld.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../fonts/ProximaNova-ExtrabldIt.woff2');
	src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
		url('../fonts/ProximaNova-ExtrabldIt.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}
 
/* Proxima Nova Black (900) */
@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('../fonts/ProximaNova-Black.woff2');
	src: local('Proxima Nova Black'), local('ProximaNova-Black'),
		url('../fonts/ProximaNova-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('../fonts/ProximaNova-BlackIt.woff2');
	src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
		url('../fonts/ProximaNova-BlackIt.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}