$mini: 14px;
$micro: 5px;
$min: 15px;
$big: 30px;
$middle: 18px;
$normal: 17px;
$ver-mini: 11px;
$low: 8px;
$six: 6px;
$seven: 7px;
$b-low: 9px;
$over-mini: 12px;
$mnormal: 16px;
$b-low: 10px;
$card: 370px;
$hc: 210px;
$oh: 100px;
$so: 40px;
$tw-six: 26px;
$care-inf: 270px;
$over-m: 41px;
$mbtitle: 38px;
$over-middle: 22px;
$vmiddle: 20px;
$tw-one: 21px;
$vminmiddle: 19px;
$normalFz: 18px;
$tr: 13px;
$over: 24px;
$b-over: 25px;
$three: 3px;
$b-big: 35px;
$vb_big: 36px;
$wblock: 470px;
$ten: 10px;
$v-big: 42px;
$w-card: 271px;
$th-tw: 32px;
$bl-inf: 670px;
$e-six: 86px;
$tw-s: 27px;
$f-th: 43px;
$fifty: 50px;
$sixty-six: 66px;
$ninety: 90px;
$oh-fifty: 150px;
$s-eight: 68px;
$tw-three: 23px;

$black: #000;

$header-back: #F7EBE5;
$textcolor: #000000C9;
$wh: #fff;
$bc: rgba(0, 0, 0, 0.493);
$light-black: #0000001A;
$wheate: #EBEDEE;
$gr: #292929;
$back: #F7F7F7;
$bord-light: #29292929;
$pag-bord: #E5E5E5;
$red: #E7426A;
$dashed: #D2D2D2;
$border-card: #EDEDF0;
$blue: #4E9DD3;
$light-gr: #292929D4;
$thumb-cl: #DDDDDD;
$old_cl: #969696;
$very_light: #f3f6fc;
$bord-check: #2929291A;
$blue-back: #B3D9F3;
$fwd: 400;
$fbw: 600;

$m_sh: 0px 4px 10px 0px #00000026;

$filter-cl: #29292975;

$cl-scrb: #F1F1F1;

$black-light: #00000063;
$sel-gr: #EAEAEA;